<section class="event-section">
  <div class="group-card-wrapper">
    <h1>Your Groups</h1>
    <div class="event-scroll-container-vertical">
      <% @groups.each do |group| %>
        <%= render 'groups_index_card',
          group: group,
          name: group.name,
          image_url: group.image_url
        %>
      <% end %>
    </div>
  </div>
</section>
