<section class="event-section">
  <div class="group-card-wrapper">
    <h2>Your Groups</h2>
    <div class="event-scroll-container-vertical">
      <% @groups.each do |group| %>
        <%= render 'groups_index_card',
          group: group,
          name: group.name
        %>
      <% end %>
    </div>
  </div>
</section>
