<div class="group-links d-flex justify-content-between align-items-center">
  <div class="link-text-padding-left">
    <%= link_to 'Back to Groups', groups_path, class:"link-text" %>
  </div>

  <%= link_to "New event", new_group_event_path(@group), class: "btn btn-primary rounded-5" %>
</div>

<%= render 'groups_show_card',
  group: @group,
  name: @group.name,
  image_url: @group.image_url
%>

<script>
  window.addEventListener('scroll', () => {
    const scrollContainer = document.getElementById('reptileScroll');
    const footer = document.querySelector('.footer-bar');
    if (!scrollContainer || !footer) return;

    const footerTop = footer.getBoundingClientRect().top;
    const windowHeight = window.innerHeight;

    // If footer is visible in viewport, fix the container above footer
    if (footerTop < windowHeight) {
      scrollContainer.classList.add('fixed');
    } else {
      scrollContainer.classList.remove('fixed');
    }
  });
</script>
