<div class="event_form_container">

    <%= f.input :category, placeholder: "Please select category" , collection: Event::CATEGORIES.map{ |c| [c.humanize, c] } %>
    <%= f.submit "View Adventures", class: "btn btn-primary rounded-5" %>

</div>
