<div class="event_form_container">

    <%= f.input :start_time, html5: true %>
    <%= f.input :end_time, html5: true %>

</div>

<div class="next_button">
  <%= link_to 'Next', new_group_event_path, class:"btn btn-primary rounded-5" %>
</div>
