<div class="show_event_card_1_container">
  <div class="show_event_card_1_header">
    <h2>Your new event!</h2>
  </div>
  <div class="show_event_card_1_body">
    <p class="show_event_card_1_date"><strong>Start time:</strong> <%= start_time.strftime("%B %d, %Y") %></p>
    <p class="show_event_card_1_date"><strong>End time:</strong> <%= end_time.strftime("%B %d, %Y") %></p>
    <p class="show_event_card_1_location"><strong>Location:</strong> <%= location %></p>
    <p class="show_event_card_1_category"><strong>Category:</strong> <%= category %></p>
  </div>
</div>
