<div class="container">
  <h1>Event details</h1>
  <%= render 'event_show_card_1',

    event: @event,
    start_time: @event.start_time,
    end_time: @event.end_time,
    location: @event.location,
    category: @event.category

  %>
  <hr>
  <div>
  <h2>Attendees</h2>
  <% @event.group.users.each do |user| %>
    <% if  user == @event.user || user.notifications.where(event: @event).last.attending?  %>
    <%= user.username %> ✅
    <% else %>
    <%= user.username %>❌
    <% end %>
   <% end %>
  </div>

</div>
