<div class='card-wrapper'>
  <div class="adventure-card d-flex">
    <h2><%= name %>

    <div class="adventure-image">
      <img src="<%= image_url %>">
    </div>

    <div class="adventure-text">
      <p><%= description %>
      <p><strong>Location: </strong> <%= location %></p>
    </div>
  </div>
</div>
