<div class="container">
  <h1>Adventures</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: event_adventures_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <hr>
  <div>
    <% @adventures.each do |adventure| %>
      <div><%= render 'adventure_index_card',
        adventure: adventure,
        image_url: adventure.image_url,
        name: adventure.name,
        description: adventure.description
        %>
      </div>
    <% end %>
  </div>
</div>
