<div class="container">
  <h1>Adventure details</h1>
  <%= render 'adventure_show_card',
    adventure: @adventure,
    name: @adventure.name,
    description: @adventure.description,
    location: @adventure.location,
    image_url: @adventure.image_url
  %>
</div>
