<h1>Home page</h1>
<p><%= link_to 'New event', groups_path, class: "btn btn-primary" %></p>
<p><%= link_to 'My events', events_path, class: "btn btn-primary" %></p>
<p><%= link_to 'My groups', groups_path, class: "btn btn-primary" %></p>
