.adventure_index_card_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;

    .adventure-image {
      height: 180px;
      width: 180px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      flex-shrink: 0;
    }

    .adventure-index-text {
      padding: 20px 10px 10px 10px;

      h3 {
        font-weight: bold;
        p {
            font-size: 0.6rem;
            margin-top: 2rem;
            color: $gray;
        }
      }
    }
}
