.card {
  display: block;
  padding: 1rem;
  background-color: white;
  margin-top: 0;

  &:hover {
    background-color: $light-purple;
  }

  .mb-0 {
    color: white;
  }

  .adventure-image {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.link-text-padding-left {
  text-align: left;
  padding-left: 30px;
  margin: 0;
}

.event-back-padding {
  padding-left: 10px;
  padding-bottom: 10px;
}

.delete-link {
  padding: 20px 10px 10px 250px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: auto;

  i {
    color: $gray;

    &:hover {
      color: $red;
    }
  }
}
