.card {
  display: block;
  padding: 1rem;
  background-color: white;

  &:hover {
    background-color: $light-purple;
  }

  .mb-0 {
    color: white;
  }

  .adventure-image {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.link-text {
  text-align: center;
}
